/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.3;
    font-family: 'NanumSquare', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Reusable Components
   ========================================================================== */

.row {
  max-width:1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

h1,
h2,
h3,
h4{
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
}

h1 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 360%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  margin-bottom: 30px;
  font-size: 260%;
  word-spacing: 2px;
  letter-spacing: 1px;
}


h3 {
  font-size: 140%;
  line-height: 145%;
}

.mx-auto {
  margin:0 auto;
}
.pr-50 {
  padding-right:50px;
}
.pl-50 {
  padding-left:50px;
}

.d-none {
  display:none;
}


.section-title {
  margin-bottom: 10px;

}


/* ---- Button ---- */

.btn:link,
.btn:visited,
input[type=submit]{
  display: inline-block;
  padding: 10px 30px;
  text-decoration:none;
  font-weight: 500;
  /*border-radius: 200px;*/
  -webkit-transition:background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition:background-color 0.2s, border 0.2s, color 0.2s;
  transition:background-color 0.2s, border 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited {
  background-color: #00889d;
  border:1px solid #00889d;
  border-radius: 10px;
  color: #fff;

}



.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
  background-color: #007b91;
}


.btn-full:hover,
.btn-full:active{
  border:1px solid #007b91;
  color: #fff;
}


input[type=submit]:hover,
input[type=submit]:active{
  cursor: pointer;
}
.btn-full {
  font-size: 150%;
}


.btn-ghost:link,
.btn-ghost:visited{
  border:2px solid #005A6F;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active{
  border:1px solid #008095;
  color: #fff;
}




/* ==========================================================================
   ITC's custom styles
   ========================================================================== */




/* ---- Header ---- */

header {
  /*background: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))), url(../img/cover.jpg);*/
  /*background: -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/cover.jpg);*/
  /*background: -o-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/cover.jpg);*/
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/cover-4.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat:no-repeat;
}

.cover-box {
  color:#fff;
  height:100%;
}
.cover-title img {
  position:absolute;
  top:0%;
  left:59%;
  height: 75px;
  width: auto;
  transform: translate(-40%, -90%);
}

.cover-title{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:150%;
}

.cover-text {
  position: absolute;
  width: 1140px;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:150%;
}

.logo {
  display: inline-block;
  padding-top: 30px;
  height: 40px;
  width:auto;
}


.cover-scroll-indicator {
  position: absolute;
  /*width:1140px;*/
  top: 85%;
  left: 85%;
}
.cover-scroll-indicator img{
  width: 50px;
  height:auto;
}


.social {
  float:right;
  font-size:200%;
}

.social ul{
  list-style: none;
  float:right;
}
.social ul li{
  display: inline-block;
  list-style: none;
  margin: 0 14px;

}

.social i {
  transition: color 0.2s;
}

.social ul li:hover,
.social ul li:active {
  cursor: pointer;
}

.facebook:hover,
.facebook:active {
  color: #3b5999;
}

.youtube:hover,
.youtube:active {
  color: #cd201f;
}







/* ---- Section about corporation ---- */

.section-about-corporation {
  background-color: #006271;
  text-align: justify;
}
.section-about-corporation h1{
  background-color: #006271;
  text-align: center;
}



.section-about-corporation a {
  float: right;
  margin: 20px;
}

.section-about-corporation div:nth-of-type(3) a {
  float: left;
}
.section-about-corporation div:nth-of-type(3) {
  text-align: right;
}



.ac-bundle {
  margin-bottom: 50px;
}
.ac-bundle div{
  text-align: center;
}



.img-1 {
  height: 200px;
  width: auto;
}

/*.ac-image {*/
  /*height: 250px;*/
  /*width: auto;*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

.ac-copy {
  padding-top: 15px;
  padding-right: 60px;
  text-align: justify;
  font-family: 'Noto Sans CJK KR DemiLight', sans-serif;
  font-weight: lighter;

}
.section-about-corporation .ac-bundle:nth-of-type(3) .ac-copy{
  padding-right:0;
  padding-left:60px;
}


.ac-hide {
  display:none;
}



/* ---- Section Brand ---- */
.section-brand {
  background-color: #005360; /*secondary color*/
  text-align: center;

}

.btn-homepage .btn{
  margin-top: 25px;
  padding: 10px 70px;
  margin-bottom: 10px;
}
.section-brand a {


}

.brand-name {
  font-size: 180%;
  color: #fff;
  /*border: solid 3px #00c9e8;*/
  /*border-radius: 40px;*/
  padding: 10px;
  margin-bottom: 30px;
}

.brand-description {
  text-align: left;
  padding-left:5px;
}


.brand-description h3{
  font-weight: 500;
}
.section-brand.col {
  padding-right:10px;
}
.section-brand.col:last-child {
  padding-right: 0;
}

.section-brand .brand-box{
  position: relative;
}
.section-brand .btn {
  /*position: absolute;*/
  /*right: 0;*/
  /*top:550px;*/
  /*transform: translate(0, 50px);*/
}

.section-brand h3 {
  margin-bottom: 80px;
}


.img-2 {
  height: 250px;
  width: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
.brand-img {
  height:265px;
  width:auto;
}
.brand-img-box {
  display: block;
  width:100%;
  overflow:hidden;
}

.brand-logo-single {
  height:50px;
  width: auto;
  margin-right:20px;
}

.brand-logo-single-es {
  height:45px;
}




/* ---- Section TS Curriculum  && TC Curriculum---- */

.section-ts-curriculum,
.section-tc-curriculum {
  background-color: #ffffff;
  min-height:100vh;

}
.section-ts-curriculum h1 {
  color:#006271;
  text-align: center;
}
.section-tc-curriculum h1 {
  color:#543a33;
  text-align: center;
}


.section-ts-curriculum .section-title:after {
  background-color: #006271;
}
.section-tc-curriculum .section-title:after {
  background-color: #543a33;
}

.ts-curriculum-title-bg {
  background: url(../img/말풍선.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding:10px 10px 20px 10px;
  margin:0 0 50px 0;
}
.tc-curriculum-title-bg {
  background: url(../img/말풍선2.png); !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding:10px 10px 20px 10px;
  margin:0 20px 0 0;
}

.ts-curriculum-intro-copy,
.tc-curriculum-intro-copy {
  text-align: center;
}
.tc-curriculum-intro-copy {
  margin-bottom: 20px;
}

.ts-curriculum-intro-copy h4,
.tc-curriculum-intro-copy h4{
  line-height:160%;
  margin-bottom:60px;
}



.section-tc-curriculum {
  background-color: #ebe1de;
}



.section-ts-curriculum h2,
.section-ts-curriculum h4 {
  color:#006271;
}

.section-tc-curriculum h2,
.section-tc-curriculum h4 {
  color:#543a33;
}

.section-ts-curriculum h3,
.section-tc-curriculum h3{
  color:#fff;
  font-size: 180%;
}


.section-tc-curriculum h4,
.section-ts-curriculum h4 {
  font-size: 170%;
  margin: 10px 5px;
}



.ts-logo-box,
.tc-logo-box,
.es-logo-box {
  padding: 50px;
  text-align: center;
}

.ts-logo-box {background-color: #006271;}
.tc-logo-box {background-color: #543a33;}
.es-logo-box {background-color: #006271;}



.img-logo {
  height:75px;
  width: auto;
}

.ts-curriculum-main,
.tc-curriculum-main{
  padding: 30px 0;
  /*height: 100vh;*/
  /*margin-bottom: 60px;*/
}
.ts-curriculum-main {
  margin-bottom: 40px;
  text-align:center;
}
.tc-curriculum-main {
  margin-bottom: 100px;
  box-sizing: border-box;
}

.ts-curriculum-main h2,
.tc-curriculum-main h2{
  margin-left: 130px;
  font-weight: 700;
}

.ts-curriculum-main .col {
  position:relative;
}

.curriculum-icon {
  height: 45px;
  width: auto;
  margin: 0 auto;
  padding-bottom:10px;
}
.tc-curriculum-main h4 {
  margin-left: 0;
}


.curriculum-icon-small {
  height: 125%;
  width: auto;
  margin: 0 10px 0 0;
}

.curriculum-copy {
  color: #006271;
  font-size: 120%;
  font-weight: 600;
  overflow:auto;
  text-align:justify;
  line-height: 145%;
  padding-right: 12px;
}
.tc-curriculum-main .curriculum-copy {
  text-align: center;
  padding: 0 25%;
}

.tc-curriculum-main .tc-curriculum-info {
  position: relative;
  /*background-color: #fff;*/
  /*border: solid 1px #543a33;*/
  height:400px;
}


.curriculum-copy-category {
  color: #006271;
  font-size: 125%;
  line-height:100%;
  text-align: justify;
  font-weight:600;
  margin: 9px 0;
}
.tc-curriculum-main .curriculum-copy-category-box {
  position:absolute;
  top:240px;
  left:0
}



.tc-curriculum-main .curriculum-copy,
.tc-curriculum-main .curriculum-copy-category {
  color: #543a33;
}
.indicator-component {
  margin: 0 auto;
  padding-bottom:20px;

}

.indicator {
  display:inline-block;
  background-color: rgb(230, 230, 230);
  height: 80px;
  width: 80px;
  color:#006271;
  font-size: 180%;
  border: solid 1px #e6e6e6;
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
  line-height:3;
  margin:0 auto;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}
.indicator img{
  transition: filter 0.2s;
}

.tc-curriculum-main .indicator {
  background-color: #fff;
  color:#543a33;
  border: solid 1px #fff;
}


.indicator-on {
  color:#fff;
  background-color: #006271;
  border: solid 1px #006271;
}

.indicator-on img{
  filter: brightness(0) invert(1);
}

.tc-curriculum-main .indicator-on {
  color:#fff;
  background-color: #543a33;
  border: solid 1px #543a33;
}
.tc-curriculum-main .indicator-on img{
  filter: brightness(0) invert(1);
}

.indicator:hover,
.indicator:active {
  background-color: #005360;
  color:#fff;
  border: solid 1px #005360;
}
.indicator:hover img,
.indicator:active img{
  filter: brightness(0) invert(1);
}

.tc-curriculum-main .indicator:hover,
.tc-curriculum-main .indicator:active {
  background-color: #3f2b26;
  color:#fff;
  border: solid 1px #3f2b26;
}


.tc-curriculum-main .indicator:hover img,
.tc-curriculum-main .indicator:active img {
  filter: brightness(0) invert(1);
}


.indicator-bridge {
  /*border-left: solid 1px #006271;*/
  /*border-right: solid 1px #006271;*/
  display:inline-block;
  background-color: #e6e6e6;
  height: 10px;
  width: 15vw;
  margin:0 -4px 4px -4px;
  z-index:9999;
  opacity: 1;
}
.tc-curriculum-main .indicator-bridge {
  /*border-left: solid 1px #006271;*/
  /*border-right: solid 1px #006271;*/
  background-color: #fff;
}



.indicator-bridge-on {
  background-color: #006271;
}
.tc-curriculum-main .indicator-bridge-on {
  background-color: #543a33;
}



.curriculum-info {
  display: none;
  width: 33%;
  float:left;
  margin-left:10%;
  text-align: start;
}
.curriculum-info:nth-of-type(2){
  margin-left: 40%;
}
.curriculum-info:nth-of-type(3){
  margin-left: 60%;
}


.curriculum-info-box {
  /*display: inline-block;*/
  padding:10px;
  vertical-align: top;
  width: 100%;
  text-align: center;
  margin: 0 auto 80px auto;

}


.indicator-box {
  display: inline-block;
  /*float:left;*/

}

.curriculum-goal {

}

.curriculum-info-selected {
  display:inline-block;
  /*float: left;*/
}

.tc-curriculum-box {
  width: 100%;
  overflow:auto;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  position:relative;
}


.tc-curriculum-box .col {
  padding: 30px 0 35px 0;
}
.tc-curriculum-box div:first-of-type .col{
  padding: 0 0 35px 0;
}



.tc-curriculum-box .row:first-of-type {
  border-bottom: dotted 1px #ccc;
  box-sizing: border-box;
}
.tc-curriculum-box .col:first-of-type {
  border-right: dotted 1px #ccc;
  box-sizing: border-box;
}

.tc-curriculum-period {
  z-index: 9999;
  position:absolute;
  top:44.2%;
  left: 41%;
  background-color: #fff;
  padding:5px 2px;
  font-size: 24px;
  color: #959595;
}



.ts-a,
.ts-b {
  border: solid 1px #ccc;
  text-align: center;
  margin: 0 18% -1px 18%;
}

.curriculum-goal {
  display:inline-block;
  width:100%;
  background-image: url(../img/goal-effect.png);
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height:450px;
}


.section-tc-curriculum .curriculum-goal {
  display:inline-block;
  width:80%;
  margin-left:10%;
  margin-right:10%;
  background-image: none;
  background-color: #f8f8f8;
}

.curriculum-effect-box {
  width:1000px;
}
.curriculum-effect-box h2{
  text-align:center;
}

.arrow-line {
  width:40%;
  border-bottom:dotted 4px #bfbfbf;
  display:inline-block;
  height: 0;
  opacity: 1;
  margin-left: 90px;
  margin-bottom: 4px;

}

.effect-copy {
  display:inline-block;
  color: #727272;
  font-size: 130%;
  font-weight: 700;
  width:100%;
  padding:10px;
}
.section-tc-curriculum .effect-copy {
  color: #543a33;
  padding: 0 0 0 100px;
  margin: 10px 0;
  letter-spacing: 1px;

}
.section-tc-curriculum .effect-copy img{
  height: 7px;
  width: auto;
  margin-right: 13px;
  padding-bottom:2px;
}

.effect-copy strong {
  color:#bfbfbf;
  padding-right: 20px;
}

.curriculum-effect-box h4{
  text-align: center;
  margin-bottom: 60px;
  line-height:160%;
}

.tc-curriculum-intro-copy h4:nth-of-type(2) {
  display:none;
}


/* FOOTER */

footer {
  background-color: #333;
  padding: 50px;
  font-size: 100%;
  font-family: 'Lato', sans-serif
}

.footer-nav {
  list-style: none;
  float: left;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

footer .social {
  float:right;
  font-size:200%;
  margin: 0;
  color:#888;
}

footer .social ul{
  margin:0;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/*스크롤 다운 네비게이션 메뉴 관리*/
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}
.sticky-nav .logo {
  margin: 5px 0 0 0;
  padding: 0;
  height:50px;
  width: auto;
  float: left;
}

.sticky-nav .social {
  display:none;
}

.sticky-nav-menu-hide{
  display:none; !important;
}
.sticky-nav-menu {
  float: left;
  font-size: 120%;
  /*margin-top: 10px;*/
}

.sticky-nav-menu ul{
  list-style: none;
  padding-top:6px;
}


.sticky-nav-menu ul li{
  display:inline-block;
  padding: 0 20px;
  margin: 0;
}

.sticky-nav-menu li a {
  text-decoration: none;
  color:#006271;
  transition: border-bottom 0.2s;
  font-weight: 600;
  word-spacing: 4px;
  padding-bottom: 18px;

}

.sticky-nav-menu li a:hover,
.sticky-nav-menu li a:active {
  text-decoration: none;
  color:#005360;
  border-bottom: 2px solid #005360;
  cursor: pointer;

}

.sticky-nav-icon {
  float: right;
  margin: 15px 0;
  color: #006271;
  font-size: 150%;
  cursor: pointer;

}

.sticky-nav-icon i {
  display: none;
}

.sticky-nav-icon-hide {
  display: none;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


